<div class="whirligig-container">
    <div class="whirligig-box active">
        <ol class="content">
            <li ng-repeat="slide in slides">
                <div ng-if="$first" ng-click="gotoAccount()">
                    <img class="toolbar-lightbulb" ng-src="{{slide.img}}" />
                </div>
                <img ng-if="$middle" ng-src="{{slide.img}}" />
                <img ng-if="$last"   ng-src="{{slide.img}}" />
            </li>
        </ol>
    </div>
    <div class="buttons">
        <md-button class="next md-icon-button md-primary" ng-click=navigate(1)>
            <i class="material-icons">&#xE315;</i>
        </md-button>
        <md-button class="prev md-icon-button md-primary" ng-click=navigate(-1)>
            <i class="material-icons">&#xE314;</i>
        </md-button>
    </div>
</div>
