<md-content layout="column" layout-align="start center">
	<md-card>
		<md-card-content>
			<h2>Sign Up</h2>
			<form name="loginForm" layout="column" layout-align="start center">
				<md-input-container flex>
					<label>Username</label>
					<input ng-model="account.username" name="username" ng-required="loginForm.username.$touched">
					<div ng-messages="loginForm.username.$error">
						<div ng-message="required">Required</div>
					</div>
	        	</md-input-container>
	        	<md-input-container flex>
					<label>Password</label>
					<input ng-model="account.password" name="password" type="password" ng-required="loginForm.password.$touched">
					<div ng-messages="loginForm.password.$error">
						<div ng-message="required">Required</div>
					</div>
	        	</md-input-container>
	        	<md-input-container flex>
					<label>Email</label>
					<input ng-model="account.email" name="email" type="email" ng-required="loginForm.email.$touched">
					<div ng-messages="loginForm.email.$error">
						<div ng-message="required">Required</div>
					</div>
	        	</md-input-container>
	        	<md-input-container flex>
					<label>Name</label>
					<input ng-model="account.name" name="name" ng-required="loginForm.name.$touched">
					<div ng-messages="loginForm.name.$error">
						<div ng-message="required">Required</div>
					</div>
	        	</md-input-container>
	        	<p></p>
	        	<md-button class="md-raised md-primary" ng-click="completeSignUp(account)" flex>Sign Up</md-button>
	        </form>
		</md-card-content>
	</md-card>
</md-content>