<md-dialog aria-label="Login" ng-cloak>
    <form name="loginForm" novalidate ng-submit="login(account)">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Sign In </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()" aria-label="Close" type="button">
                    <i class="material-icons icon-button-adjust">&#xE5CD;</i>
                </md-button>
            </div>
        </md-toolbar>
        <span class="sign-in-tip" flex>Use your RA-INT Credentials</span>
        <md-dialog-content class="extra-padding-15 extra-padding-top-md">
            <md-input-container flex>
                <label>Username</label>
                <input id="username" ng-model="account.username" name="username" required>
                <div ng-messages="loginForm.username.$error" ng-if="loginForm.username.$touched">
                    <div ng-message="required">Required</div>
                </div>
            </md-input-container>
            <md-input-container flex>
                <label>Password</label>
                <input ng-model="account.password" name="password" type="password" required>
                <div ng-messages="loginForm.password.$error" ng-if="loginForm.password.$touched">
                    <div ng-message="required">Required</div>
                </div>
            </md-input-container>
            <br></br>
            <md-dialog-actions flex layout="column">
                <md-button class="md-raised md-primary login-button" type="submit" ng-disabled="loginForm.$invalid" flex>
                    Login
                </md-button>
            </md-dialog-actions>
            <p></p>
        </md-dialog-content>
    </form>
</md-dialog>
