<md-dialog aria-label="Login" ng-cloak>
    <form name="loginForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Sign In </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()" aria-label="Close">
                    <md-icon md-svg-icon="navigation:close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <md-input-container flex>
                <label>Username</label>
                <input id="username" ng-model="account.username" name="username" ng-required="loginForm.username.$touched">
                <div ng-messages="loginForm.username.$error">
                    <div ng-message="required">Required</div>
                </div>
            </md-input-container>
            <md-input-container flex>
                <label>Password</label>
                <input ng-model="account.password" name="password" type="password" ng-required="loginForm.password.$touched">
                <div ng-messages="loginForm.password.$error">
                    <div ng-message="required">Required</div>
                </div>
            </md-input-container>
            <br></br>
            <md-dialog-actions flex layout="column">
                <md-button class="md-raised md-primary login-button" ng-click="login(account)" flex>
                    Login
                </md-button>
            </md-dialog-actions>
            <p></p>
        </md-dialog-content>
    </form>
</md-dialog>
