<md-card>
    <img ng-if="ideaHasImage()" ng-src="{{idea.image}}" class="md-card-image">
    <md-card-content>
        <div ng-hide="ideasView.enableEdit">
            <h1>{{idea.title}}</h1>
            <h3>by {{idea.author.name}}</h3>
            <p>{{idea.description}}</p>
        </div>
        <form ng-show="ideasView.enableEdit" name="newIdeaForm">
            <div layout="column">
                <md-input-container>
                    <label>Title</label>
                    <input ng-model="idea.title" required>
                </md-input-container>
                <md-input-container flex>
                    <label>Description</label>
                    <textarea ng-model="idea.description" columns="1" md-maxlength="1000" required></textarea>
                </md-input-container>
                <p></p>
                <div layout="row" layout-align="end center">
                    <md-button class="md-raised md-primary" ng-click="ideasView.editIdea(idea.title, idea.description)">Submit</md-button>
                    <md-button class="md-raised md-primary" ng-click="ideasView.refreshIdea()">Cancel</md-button>
                </div>
            </div>
        </form>
    </md-card-content>
    <md-card-footer>
        <md-fab-speed-dial md-direction="right" class="md-fling" md-open="isOpen" ng-mouseenter="isOpen=true" ng-mouseleave="isOpen=false" ng-show="ideasView.isUserAuthor() && !ideasView.enableEdit">
        <md-fab-trigger class="align-with-text">
            <md-button aria-label="menu" class="md-fab md-primary">
                <md-icon md-svg-icon="navigation:menu"></md-icon>
            </md-button>
        </md-fab-trigger>
        <md-fab-actions>
            <div>
                <md-button aria-label="edit" class="md-icon-button" ng-click="ideasView.enableEdit = true;">
                    <md-tooltip md-direction="top">Edit Idea</md-tooltip>
                    <md-icon md-svg-icon="editor:mode_edit"></md-icon>
                </md-button>
            </div>
            <div>
                <md-button aria-label="delete" class="md-icon-button" ng-click="ideasView.confirmDeleteIdea($event);">
                    <md-tooltip md-direction="top">Delete Idea</md-tooltip>
                    <md-icon md-svg-icon="action:delete"></md-icon>
                </md-button>
            </div>
        </md-fab-actions>
        </md-fab-speed-dial>
            <i ng-show="idea.editedOn && !ideasView.enableEdit">Edited {{momentizeTime(idea.editedOn)}}</i>
    </md-card-footer>
</md-card>
<md-card>
    <md-card-content>
        <span flex ng-if="isUserLoggedIn() && !isUserLiked()">
            <md-button class="md-icon-button" aria-label="Like" ng-click="likeIdea()">
                <md-icon md-svg-icon="action:favorite_outline"></md-icon>
            </md-button>
        </span>
        <span flex ng-if="isUserLoggedIn() && isUserLiked()">
            <md-button class="md-icon-button" aria-label="Unlike" ng-click="unlikeIdea()">
                <md-icon md-svg-icon="action:favorite"></md-icon>
            </md-button>
        </span>
        <span flex>{{idea.likes.length}} <a class="idea-likes-click" ng-click="openLikes($event, idea.likes)">likes</a> and {{idea.backs.length}} backs</span>
    </md-card-content>
</md-card>
<md-card>
    <md-card-content>
        <md-tabs md-dynamic-height md-border-bottom="">
            <md-tab label="Comments">
                <md-content class="md-padding">
                    <md-list>
                        <md-list-item class="md-2-line" ng-repeat="comment in idea.comments" ng-mouseover="hovered = true" ng-mouseout="hovered = false">
                            <div ng-show="hovered === true && ideasView.isUserAuthorOfComment($index) && comment.deleted !== true">
                                <md-button class="md-icon-button" aria-label="Delete Comment" ng-click="ideasView.deleteComment($index)">
                                    <md-icon md-svg-icon="content:clear"></md-icon>
                                </md-button>
                            </div>
                            <div class="md-list-item-text" ng-class="{'deleted': comment.deleted === true}">
                                <h3>{{comment.text}}</h3>
                                <p>{{comment.author.name}} <small class="extra-space-left" ng-bind="momentizeTime(comment.time)"></small></p>
                            </div>
                        </md-list-item>
                    </md-list>
                    <div layout="row" ng-if="isUserLoggedIn()">
                        <md-input-container id="comment-box-container" class="no-padding-bottom" flex>
                            <label>Add a comment</label>
                            <input id="comment-box" ng-model="ideasView.newComment" type="text" />
                        </md-input-container>
                        <md-button class="md-icon-button" aria-label="Submit" ng-disabled="ideasView.newComment === ''" ng-click="addNewInteraction('comments')">
                            <md-icon md-svg-icon="action:done"></md-icon>
                        </md-button>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Backers">
                <md-content class="md-padding">
                    <md-list>
                        <md-list-item class="md-2-line" ng-repeat="back in idea.backs" ng-mouseover="hovered = true" ng-mouseout="hovered = false">
                            <div ng-show="hovered === true && ideasView.isUserAuthorOfBack($index)">
                                <md-button class="md-icon-button" aria-label="Edit Back" ng-click="loadEditBack()">
                                    <md-icon md-svg-icon="editor:mode_edit"></md-icon>
                                </md-button>
                            </div>                            
                            <div class="md-list-item-text">
                                <h3>{{back.text}}</h3>
                                <p>
                                    {{back.author.name}} 
                                    <small class="extra-space-left" ng-show="!hasBackBeenEdited(back)" ng-bind="momentizeTime(back.time)"></small>
                                    <small class="extra-space-left" ng-show="hasBackBeenEdited(back)" ng-bind="momentizeModifiedTime(back.timeModified)"></small>
                                    <span class="extra-space-left">
                                        <small class="custom-chip" ng-repeat="type in back.types">{{type.name}}</small>
                                    </span>
                                </p>
                                </span>
                            </div>
                        </md-list-item>
                    </md-list>
                    <div layout="row" ng-if="isUserLoggedIn()">
                        <div layout="column" flex>
                            <md-input-container ng-show="!hasUserBacked()" id="back-box-container" class="no-padding-bottom">
                                <label>Back this idea...</label>
                                <input id="back-box" ng-model="ideasView.newBack" type="text" />
                            </md-input-container>
                            <div layout-align="start">
                                <md-button ng-show="hasUserBacked() && !showEditBackInput" ng-click="loadEditBack()">Edit your back...</md-button>
                            </div>
                            <md-input-container ng-show="showEditBackInput" class="no-padding-bottom">
                                <label>Edit your back...</label>
                                <input ng-model="ideasView.editBackText" type="text"/>
                            </md-input-container>                             
                            <md-chips ng-model="selectedTypes" md-autocomplete-snap md-require-match="true" ng-show="ideasView.newBack || ideasView.editBackText">
                                <md-autocomplete
                                    md-selected-item="selectedType"
                                    md-selected-item-change=""
                                    md-search-text="searchText"
                                    md-search-text-change=""
                                    md-min-length="0"
                                    md-items="type in querySearch(searchText)"
                                    md-item-text="type.name"
                                    placeholder="Type of backing">
                                    <span md-highlight-text="ctrl.searchText">{{type.name}}</span>
                                </md-autocomplete>
                                <md-chip-template>
                                    <span>
                                        <strong>{{$chip.name}}</strong>
                                    </span>
                                </md-chip-template>
                            </md-chips>                           
                        </div>
                        <div layout="column" layout-align="center end" ng-show="!hasUserBacked()">
                            <md-button class="md-icon-button" aria-label="Submit" ng-disabled="ideasView.newBack === ''" ng-click="addNewInteraction('backs')">
                                <md-icon md-svg-icon="action:done"></md-icon>
                            </md-button>
                        </div>
                        <div layout="column" layout-align="center end" ng-show="showEditBackInput">
                            <md-button class="md-icon-button" aria-label="Submit" ng-disabled="ideasView.editBackText === ''" ng-click="ideasView.editBack(userBackIndex)">
                                <md-icon md-svg-icon="action:done"></md-icon>
                            </md-button>
                        </div>                        
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Team">
                <md-content class="md-padding">
                    <div layout="row">
                        <div layout="column">
                            <md-list ng-if="ideasView.isUserAuthor()">
                                <md-list-item class="md-1-line" ng-repeat="back in idea.backs">
                                    <div class="md-list-item-text">
                                        <p>
                                            <md-switch ng-model="back.isInTeam" class="md-warn"> <!-- Be careful when editing backs because of this -->
                                                {{back.author.name}}
                                                <span class="extra-space-left">
                                                    <small class="custom-chip" ng-repeat="type in back.types">{{type.name}}</small>
                                                </span>
                                            </md-switch>
                                        </p>
                                    </div>
                                </md-list-item>
                            </md-list>
                        </div>
                        <div layout="column" layout-align="start center" flex>
                            <md-list>
                                <md-list-item class="md-2-line" ng-repeat="member in idea.team">
                                    <div class="md-list-item-text">
                                        <h3>{{member.member.name}}</h3> <!-- now displays, but doesn't seem to save-->
                                        <p>
                                            <span class="extra-space-left">
                                                <small class="custom-chip" ng-repeat="type in member.types">{{type.name}}</small>
                                            </span>
                                        </p>
                                    </div>
                                </md-list-item>
                                <md-list-item class="md-2-line" ng-show="idea.team.length === 0"> <!-- auto add author: needed logic for ||| if there is only one person on the team and it's the author-->
                                    <div class="md-list-item-text">
                                        No Team has been formed yet :)
                                    </div>
                                </md-list-item>
                            </md-list>
						</div>
                    </div>
                    <div ng-if="ideasView.isUserAuthor()">
                        <md-button class="md-raised md-primary" ng-click="ideasView.updateTeam()">Submit</md-button>  <!-- write to database and refresh in ng-click -->
                        <md-button class="md-raised md-primary" ng-click="ideasView.refreshTeam()">Cancel</md-button>  <!-- refresh from the database in ng-click -->
                    </div>
                </md-content>
            </md-tab>
            <!--<div layout="row" ng-if="isUserLoggedIn()==true">-->
                Please log in
            <!--</div>-->
        </md-tabs>
    </md-card-content>
</md-card>
