<md-card>
    <img ng-if="ideaHasImage()" ng-src="{{idea.image}}" class="md-card-image">
    <md-card-content>
        <div ng-hide="ideasView.enableEdit">
            <div>
                <h1 layout="row">{{idea.title}}
                    <span>
                        <md-button aria-label="email group" class="md-icon-button" ng-click="ideasView.parseTeamEmail()">
                            <i class="material-icons icon-button-adjust">&#xE0BE;</i>
                            <md-tooltip md-direction="top">Email Team</md-tooltip>
                        </md-button>
                    </span>
                </h1>
            </div>
            <div layout="row">
                <div layout="row" layout-align="center center">
                    <identicon username='idea.author.username' size='30'></identicon>
                </div>
                <h3>&nbsp;
                    <md-tooltip md-direction="right">Email User</md-tooltip>
                    <email-link author-obj="idea.author"></email-link>
                </h3>
            </div>
            <p>{{idea.description}}</p>
            <div layout="row" flex layout-wrap>
                <span class="custom-chip-wrapper" ng-repeat="tag in idea.tags">
                    <small class="custom-chip">#{{tag}}</small>
                </span>
            </div>
        </div>
        <div ng-show="ideasView.enableEdit">
            <div layout="column">
                <md-input-container>
                    <label>Title</label>
                    <input ng-model="idea.title" required>
                </md-input-container>
                <md-input-container flex>
                    <label>Description</label>
                    <textarea ng-model="idea.description" columns="1" md-maxlength="1000" required></textarea>
                </md-input-container>
                <md-input-container class="idea-tags-input-container">
                    <label>Tags</label>
                    <input name="tags" ng-model="tagInput" ng-keypress="ideasView.tagKeyEvent($event)" type="text" maxLength="50" ng-disabled="idea.tags.length === 5"></input>
                    <div ng-messages="tags.$error">
                        <div ng-message="" class="tag-message">Press Enter to Add Tag - Limit 5</div>
                    </div>
                </md-input-container>
                <div layout="row" flex layout-wrap>
                    <span class="custom-chip-wrapper" ng-repeat="tag in idea.tags">
                        <small class="custom-chip tag">
                            #{{tag}}
                            <md-icon md-svg-icon="md-close" class="idea-tag-delete-icon" ng-click="ideasView.removeTag(tag)" aria-hidden="true"></md-icon>
                        </small>
                    </span>
                </div>                
                <p></p>
                <div layout="row" layout-align="end center">
                    <md-button class="md-raised md-primary" ng-click="ideasView.editIdea(idea.title, idea.description, idea.tags)">Submit</md-button>
                    <md-button class="md-raised md-primary" ng-click="ideasView.refreshIdea()">Cancel</md-button>
                </div>
            </div>
        </div>
    </md-card-content>
    <md-card-footer>
        <md-fab-speed-dial md-direction="right" class="md-fling" md-open="isOpen" ng-mouseenter="isOpen=true" ng-mouseleave="isOpen=false" ng-show="ideasView.isUserAuthor() && !ideasView.enableEdit">
        <md-fab-trigger class="align-with-text">
            <md-button aria-label="menu" class="md-fab md-primary">
                <i class="material-icons icon-button-adjust">&#xE5D2;</i>
            </md-button>
        </md-fab-trigger>
        <md-fab-actions>
            <div>
                <md-button aria-label="edit" class="md-icon-button" ng-click="ideasView.enableEdit = true;">
                    <md-tooltip md-direction="top">Edit Idea</md-tooltip>
                    <i class="material-icons icon-button-adjust">&#xE254;</i>
                </md-button>
            </div>
            <div>
                <md-button aria-label="delete" class="md-icon-button" ng-click="ideasView.confirmDeleteIdea($event);">
                    <md-tooltip md-direction="top">Delete Idea</md-tooltip>
                    <i class="material-icons icon-button-adjust">&#xE872;</i>
                </md-button>
            </div>
        </md-fab-actions>
        </md-fab-speed-dial>
            <i ng-show="idea.timeModified !== idea.timeCreated && !ideasView.enableEdit">Edited {{momentizeTime(idea.timeModified)}}</i>
    </md-card-footer>
</md-card>
<!-- Card used to display Likes/Backs/Team and to Like/Back/Join an idea -->
<md-card>
    <md-card-content>
        <span flex ng-if="!isUserLoggedIn()">
            <md-button class="md-icon-button" aria-label="Like">
                {{idea.likes.length}}
                <i class="material-icons icon-button-adjust">&#xE87E;</i>
            </md-button>
            <md-tooltip md-direction="bottom">Login to Like</md-tooltip>
        </span>
        <span flex ng-if="isUserLoggedIn()">
            <span flex ng-if="!isUserLiked()">
                <md-button class="md-icon-button" aria-label="Like" ng-click="addNewInteraction('likes')">
                    {{idea.likes.length}}
                    <i class="material-icons icon-button-adjust">&#xE87E;</i>
                </md-button>
                <md-tooltip md-direction="bottom">Like Idea</md-tooltip>
            </span>
            <span flex ng-if="isUserLiked()">
                <md-button class="md-icon-button" aria-label="Unlike" ng-click="removeInteraction('likes')">
                {{idea.likes.length}}
                    <i class="material-icons icon-button-adjust">&#xE87D;</i>
                </md-button>
                <md-tooltip md-direction="bottom">Idea Liked</md-tooltip>
            </span>
        </span>
        <span flex ng-if="!isUserLoggedIn()">
            <md-button class="md-icon-button" aria-label="Back" ng-click="focusBack()">
                {{idea.backs.length}}
                <i class="material-icons icon-button-adjust">&#xE893;</i>
            </md-button>
            <md-tooltip ng-if="!hasUserBacked()" md-direction="bottom">Login to Back</md-tooltip>
        </span>
        <span flex ng-if="isUserLoggedIn()">
            <span flex ng-if="!hasUserBacked()">
                <md-button class="md-icon-button" aria-label="Back" ng-click="focusBack()">
                    {{idea.backs.length}}
                    <i class="material-icons icon-button-adjust">&#xE893;</i>
                </md-button>
                <md-tooltip md-direction="bottom">
                    <ng-pluralize count="idea.backs.length" 
                        when="{'0': 'Backs',
                               'one': 'Back',
                               'other': 'Backs'}">
                    </ng-pluralize>
                </md-tooltip>
            </span>
            <span flex ng-if="hasUserBacked()">
                <md-button class="md-icon-button" aria-label="Back" ng-click="focusBack()">
                    {{idea.backs.length}}
                    <i class="material-icons icon-button-adjust">&#xE892;</i>
                </md-button>
                <md-tooltip md-direction="bottom">Idea Backed</md-tooltip>
            </span>
        </span>
        <span flex ng-if="!isUserLoggedIn()">
            <md-button class="md-icon-button" aria-label="Team" ng-click="focusTeam()">
                {{idea.team.length}}
                <i class="material-icons icon-button-adjust">&#xE7FC;</i>
            </md-button>
            <md-tooltip md-direction="bottom">Login to Join</md-tooltip>
        </span>
        <span flex ng-if="isUserLoggedIn()">
            <span flex ng-if="!ideasView.isUserMemberOfTeam() && !hasUserBacked()">
                <md-button class="md-icon-button" aria-label="Team" ng-click="focusBack()">
                    {{idea.team.length}}
                    <i class="material-icons icon-button-adjust">&#xE7FC;</i>
                </md-button>
                <md-tooltip md-direction="bottom">Back Idea First</md-tooltip>
            </span>
            <span flex ng-if="!ideasView.isUserMemberOfTeam() && hasUserBacked()">
                <md-button class="md-icon-button" aria-label="Team" ng-click="focusTeam()">
                    {{idea.team.length}}
                    <i class="material-icons icon-button-adjust">&#xE7FC;</i>
                </md-button>
                <md-tooltip md-direction="bottom">
                    <ng-pluralize count="idea.team.length" 
                        when="{'0': 'Team Members',
                               'one': 'Team Member',
                               'other': 'Team Members'}">
                    </ng-pluralize>
                </md-tooltip>
            </span>
            <span flex ng-if="ideasView.isUserMemberOfTeam()" ng-click="focusTeam()">
                <md-button class="md-icon-button" aria-label="Team">
                    {{idea.team.length}}
                    <i class="material-icons icon-button-adjust">&#xE7FB;</i>
                </md-button>
                <md-tooltip md-direction="bottom">
                    <ng-pluralize count="idea.team.length" 
                        when="{'0': 'Team Members',
                               'one': 'Team Member',
                               'other': 'Team Members'}">
                    </ng-pluralize>
                </md-tooltip>
            </span>
        </span>
    </md-card-content>
</md-card>
<md-card>
    <md-card-content>
        <md-tabs md-dynamic-height md-border-bottom="" md-selected="selectedTab">
            <!-- Tab Used to show updates for the idea -->
            <md-tab label="Updates">
                <md-content class="md-padding">
                    <md-card>
                        <md-card-content ng-if="!idea.updates[0] && ideasView.isUserMemberOfTeam()">
                            <p>There are no status updates on this idea.  Please update this idea. </p>
                        </md-card-content>
                        <md-card-content ng-if="ideasView.isUserAuthor() || ideasView.isUserMemberOfTeam()">
                            <form layout="row">
                                <md-input-container id="comment-box-container" class="some-padding-bottom" flex>
                                    <label>Add a status update</label>
                                    <input id="comment-box" ng-model="ideasView.newUpdate" type="text" />
                                </md-input-container>
                                <md-button class="md-icon-button" type="submit" aria-label="Submit" ng-disabled="ideasView.newUpdate === ''" ng-click="addNewInteraction('updates')">
                                    <i class="material-icons icon-button-adjust">&#xE876;</i>
                                </md-button>
                            </form>
                        </md-card-content>
                        <md-card-content ng-if="!idea.updates[0] && !ideasView.isUserMemberOfTeam() && !ideasView.isUserAuthor()">
                            <p>There are no status updates on this idea.  Come back later to see if progress has been made on this idea.</p>
                        </md-card-content>
                    </md-card>
                    <md-list>
                        <md-list-item class="md-2-line" ng-repeat="update in idea.updates | orderBy: '-timeCreated'" ng-show="idea.updates" ng-mouseover="hoverUpdate = true" ng-mouseout="hoverUpdate = false">
                            <div ng-show="(ideasView.isUserAuthorOfInteraction(update) || ideasView.isUserAuthor()) && hoverUpdate === true">
                                <md-button class="md-icon-button" aria-label="Delete Update" ng-click= "removeInteraction('updates', update)">
                                    <i class="material-icons icon-button-adjust">&#xE14C;</i>
                                </md-button>
                            </div>
                            <div class="md-list-item-text">
                                <h3>{{update.text}}</h3>
                                <div layout="row">
                                    <div layout="row" layout-align="center center">
                                        <identicon username='update.author.username' size='18'></identicon>
                                    </div>
                                    <p>&nbsp;<email-link author-obj="update.author"></email-link><small class="extra-space-left" ng-bind="momentizeTime(update.timeCreated)"></small></p>
                                </div>
                            </div>

                        </md-list-item>
                    </md-list>
                </div>
            </md-tab>
            <!-- Tab used to show comments made on the idea by logged in users -->
            <md-tab label="Comments">
                <md-content class="md-padding">
                    <md-card>
                        <md-card-content ng-if="isUserLoggedIn()">
                            <form layout="row" ng-if="isUserLoggedIn()">
                                <md-input-container id="comment-box-container" class="no-padding-bottom" flex>
                                    <label>Add a comment</label>
                                    <input id="comment-box" ng-model="ideasView.newComment" type="text" />
                                </md-input-container>
                                <md-button class="md-icon-button" type="submit" aria-label="Submit" ng-disabled="ideasView.newComment === ''" ng-click="addNewInteraction('comments')">
                                    <i class="material-icons icon-button-adjust">&#xE876;</i>
                                </md-button>
                            </form>
                        </md-card-content>
                        <md-card-content ng-if="!isUserLoggedIn()">
                            <p>Please log in to enter a comment.</p>
                        </md-card-content>
                    </md-card>
                    <md-list>
                        <md-list-item class="md-2-line" ng-repeat="comment in idea.comments" ng-mouseover="hovered = true" ng-mouseout="hovered = false">
                            <div ng-show="hovered === true && ideasView.isUserAuthorOfInteraction(comment)">
                                <md-button class="md-icon-button" aria-label="Delete Comment" ng-click="removeInteraction('comments', comment)">
                                    <i class="material-icons icon-button-adjust">&#xE14C;</i>
                                </md-button>
                            </div>
                            <div class="md-list-item-text">
                                <h3>{{comment.text}}</h3>
                                <div layout="row">
                                    <div layout="row" layout-align="center center">
                                        <identicon username='comment.author.username' size='18'></identicon>
                                    </div>
                                    <p>&nbsp;<email-link author-obj="comment.author"></email-link><small class="extra-space-left" ng-bind="momentizeTime(comment.timeCreated)"></small></p>
                                </div>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-content>
            </md-tab>
            <!-- Tab used to show users that are willing to contribute to an idea -->
            <md-tab label="Backers">
                <md-content class="md-padding">
                    <!-- Backer controls: only visible when logged in -->
                    <!-- Add new backing -->
                    <md-button class="md-icon-button" ng-if="isUserLoggedIn()" ng-click="ideasView.showAddBack($event)" ng-disabled="hasUserBacked()">
                        <i class="material-icons icon-button-adjust">&#xE145;</i>
                        <md-tooltip md-direction="bottom">Add contribution</md-tooltip>
                    </md-button>
                    <!-- Edit current backing -->
                    <md-button class="md-icon-button" ng-if="isUserLoggedIn() && hasUserBacked()" ng-click="ideasView.showAddBack($event)" ng-disabled="!hasUserBacked()">
                        <i class="material-icons icon-button-adjust">&#xE3C9;</i>
                        <md-tooltip md-direction="bottom">Edit Contribution</md-tooltip>
                    </md-button>
                    <!-- Delete current backing -->
                    <md-button class="md-icon-button" ng-if="isUserLoggedIn()" ng-click="removeBack()" ng-disabled="!hasUserBacked()">
                        <i class="material-icons icon-button-adjust">&#xE5CD;</i>
                        <md-tooltip md-direction="bottom">Delete Back</md-tooltip>
                    </md-button>
                    <md-list>
                        <md-list-item class="md-3-line" ng-repeat="back in idea.backs" ng-mouseover="hovered = true" ng-mouseout="hovered = false">
                            <div ng-show="hovered === true && ideasView.isUserAuthorOfInteraction(back)">
                                <md-button class="md-icon-button" aria-label="Edit Back" ng-click="ideasView.showAddBack($event)">
                                    <i class="material-icons icon-button-adjust">&#xE3C9;</i>
                                </md-button>
                            </div>
                            <div class="md-list-item-text">
                                <h3>{{back.text}}
                                    <span class="extra-padding-left-sm">
                                        <small ng-show="!hasBackBeenEdited(back)" ng-bind="momentizeTime(back.timeCreated)"></small>
                                        <small ng-show="hasBackBeenEdited(back)" ng-bind="momentizeModifiedTime(back.timeModified)"></small>
                                    </span>
                                </h3>
                                <div layout="row">
                                    <div layout="row" layout-align="center center">
                                        <identicon username='back.author.username' size='18'></identicon>
                                    </div>
                                    <p>&nbsp;<email-link author-obj="back.author"></email-link></p>
                                </div>
                                <span class="custom-chip-wrapper" ng-repeat="type in back.types">
                                    <small  class="custom-chip {{type._lowername}}" >{{type.name}}</small>
                                </span>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-content>
            </md-tab>
            <!-- Tab used to show users who is part of a team, or allows the idea user to edit the team members -->
            <md-tab label="Team">
                <md-content class="md-padding">
                    <md-button class="md-icon-button" aria-label="email group" ng-click="ideasView.parseTeamEmail()">
                        <i class="material-icons icon-button-adjust">&#xE0BE;</i>
                        <md-tooltip md-direction="bottom">Email Team</md-tooltip>
                    </md-button>
                    <span>
                    <md-button class="md-icon-button" ng-if="isUserLoggedIn() && ideasView.isUserAuthor()" ng-click="ideasView.editTeam($event)">
                        <i class="material-icons icon-button-adjust">&#xE3C9;</i>
                        <md-tooltip md-direction="bottom">Edit Team Members</md-tooltip>
                    </md-button>
                    <md-button class="md-icon-button" ng-if="isUserLoggedIn()" ng-click="ideasView.removeSelfFromTeam($event)" ng-disabled="!ideasView.isUserMemberOfTeam()">
                        <i class="material-icons icon-button-adjust">&#xE5CD;</i>
                        <md-tooltip md-direction="bottom">Leave Team</md-tooltip>
                    </md-button>
                    </span>
                    <div layout="column">
                        <md-list ng-show="ideasView.enableTeamEdit === false">
                            <md-list-item class="md-2-line" ng-show="idea.team.length === 0">
                                <p>There are no members currently on the team.</p>
                            </md-list-item>
                            <md-list-item class="md-2-line" ng-show="ideasView.isUserAuthor() && idea.team.length === 1 && ideasView.isUserMemberOfTeam()">
                                <p>You are the only member of your team. Once people back your idea you will be able to add them to your team.</p>
                            </md-list-item>
                            <md-list-item class="md-2-line" ng-show="ideasView.isUserAuthor() && idea.team.length === 1 && !ideasView.isUserMemberOfTeam()">
                                <p>There is only one member on the team and it is not you!  You can add yourself back to the team by selecting edit.</p>
                            </md-list-item>
                            <md-list-item class="md-2-line" ng-show="ideasView.isUserAuthor() && idea.team.length > 1">
                                <p>Your current team is shown below. You can edit who makes up your team at any time.</p>
                            </md-list-item>
                            <md-list-item class="md-3-line" ng-show="!ideasView.isUserAuthor() && !ideasView.isUserMemberOfTeam() && isUserLoggedIn() && idea.team.length > 0 && !ideasView.hasUserBacked()">
                                <p>You are currently not part of the team.  If you would like to become part of the team, please back the idea so the author can be notified about your interest in being involved.</p>
                            </md-list-item>
                            <md-list-item class="md-3-line" ng-show="!ideasView.isUserAuthor() && !ideasView.isUserMemberOfTeam() && isUserLoggedIn() && idea.team.length > 0 && ideasView.hasUserBacked()">
                                <p>You are currently not part of the team.</p>
                            </md-list-item>
                            <md-list-item class="md-2-line" ng-show="!ideasView.isUserAuthor() && ideasView.isUserMemberOfTeam() && isUserLoggedIn()">
                                <p>You are part of the team!</p>
                            </md-list-item>
                            <md-list-item class="md-2-line" ng-repeat="back in idea.backs" ng-show="back.isInTeam" ng-mouseover="hovered = true" ng-mouseout="hovered = false">
                                <div ng-show="hovered === true && !ideasView.isUserAuthor() && ideasView.isUserMemberOfTeam() && ideasView.isUserExactMemberOfTeam($index)">
                                    <md-button class="md-icon-button" aria-label="Remove From Team" ng-click="ideasView.removeUserFromTeam(back)">
                                        <i class="material-icons icon-button-adjust">&#xE14C;</i>
                                    </md-button>
                                </div>
                                <div class="md-list-item-text" >
                                    <div layout="row">
                                        <div layout="row" layout-align="center center">
                                            <identicon username='back.author.username' size='18'></identicon>
                                        </div>
                                        <span>&nbsp;</span>
                                        <email-link author-obj = "back.author"></email-link>
                                    </div>
                                    <span class="custom-chip-wrapper" ng-repeat="type in back.types">
                                        <small class="custom-chip {{type._lowername}}">{{type.name}}</small>
                                    </span>
                                </div>
                            </md-list-item>
                        </md-list>
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-card-content>
</md-card>
