<md-card>
	<md-card-content>
		<h2>New Idea</h2>
		<form name="newIdeaForm">
			<div layout="column">
				<md-input-container>
					<label>Title</label>
					<input ng-model="idea.title" required>
				</md-input-container>
				<md-input-container>
					<label>Author</label>
					<input ng-model="idea.Author" required>
				</md-input-container>
				<md-input-container flex>
					<label>Description</label>
					<textarea ng-model="idea.description" columns="1" md-maxlength="1000" required></textarea>
				</md-input-container>
				<p></p>
				<div layout="row" layout-align="end center">
					<md-button class="md-raised md-primary" ng-click="addNewIdea(idea)">Submit idea</md-button>
				</div>
			</div>
		</form>
	</md-card-content>
</md-card>