<md-content layout="column" layout-align="start center">
	<md-card>
		<md-card-content>
			<h2>Login</h2>
			<form name="loginForm" layout="column" layout-align="start center">
				<md-input-container flex>
					<label>Username</label>
					<input ng-model="account.username" name="username" required>
					<div ng-messages="loginForm.username.$error">
						<div ng-message="required">Required</div>
					</div>
	        	</md-input-container>
	        	<md-input-container flex>
					<label>Password</label>
					<input ng-model="account.password" name="password" required type="password">
					<div ng-messages="loginForm.password.$error">
						<div ng-message="required">Required</div>
					</div>
	        	</md-input-container>
	        	<p></p>
	        	<span>
	        	<md-button class="md-raised md-primary login-button" ng-click="loginUser(account)" flex>Login</md-button>
	        	or
	        	<md-button class="md-raised md-accent signup-button" ng-click="signUpUser(account)" flex>Sign Up</md-button>
	        	</span>
	        </form>
		</md-card-content>
	</md-card>
</md-content>