<md-content layout="column" layout-align="start center">
    <p></p>
    <h1>Ideas</h1>
    <md-input-container class="search-bar md-accent md-hue-1">
        <label>Search</label>
        <input name="search" ng-model="searchText">
    </md-input-container>
    <div layout="row" layout-align="center center" layout-wrap>
        <md-item ng-repeat="idea in searchResults=(topIdeas | search:searchText)">
            <idea-item-browse idea="idea" ui-sref="idea({ ideaId: idea._id })" class="idea-pointer"></idea-item-browse>
        </md-item>
        <h3 class="no-ideas-div" ng-show="!searchResults.length"><i>No ideas match your search</i></h3>
    </div>
</md-content>
