<md-content layout="column" layout-align="start center">
    <p></p>
    <h1>Ideas</h1>
    <md-input-container class="search-bar md-accent md-hue-1">
        <label>Search</label>
        <input name="search" ng-model="searchText">
    </md-input-container>
    <div layout="row" layout-align="center center" class="no-ideas-div" ng-show="!topIdeas.length">
        <h3><i>No ideas</i></h3>
    </div>
    <div layout="row" layout-align="center center">
        <div flex="10"></div>
        <div flex="80">
            <div layout="row" flex layout-wrap>
                    <md-item ng-repeat="idea in topIdeas | search:searchText">
                        <idea-item-browse idea="idea" ui-sref="idea({ ideaId: idea._id })" class="idea-pointer"></idea-item-browse>
                    </md-item>
                <md-divider></md-divider>
            </div>
        </div>
    </div>
</md-content>
