<md-content layout="column" layout-align="start" ng-controller="IdeaBrowseCtrl">
<p></p>
    <h1><center>Ideas</center></h1>
	<h3>
        <center>A strategy that enables collaboration and development by providing visibility to innovative ideas.</center>
    </h3>
   
				<div layout="column" flex>
					<div flex>
						<md-list class="top-ideas-list">
							<md-subheader class="md-accent md-hue-1">Top Ideas</md-subheader>
							<md-item ng-repeat="idea in topIdeas">
								<idea-item idea="idea" ui-sref="idea({ ideaId: idea.id })" class="idea-pointer"></idea-item>
							</md-item>
						</md-list>
						<md-divider></md-divider>
						<!-- <div layout="row"><md-button class="md-primary" ng-click="navTo('home')" flex>Home</md-button></div> -->
						<!-- <div layout="row"><md-button class="md-primary" ng-click="navTo('idea')" flex>Idea (Test only)</md-button></div> -->
					</div>
				</div>

    
</md-content>