<div layout="column" layout-align="space-between center" ng-controller="AboutCtrl as about">
    <img src="assets/InnovationChallengeLogo.png" width="30%" height="30%" class="img-padding">
    <h3>Development Team</h3>
    <div layout="column" layout-gt-md="row">
        <div ng-repeat="column in about.columns" class="extra-padding-sides-15" layout="column" layout-align="start center" layout-align-gt-md="start start">
            <a ng-repeat="teamMember in about.devTeam | startFrom:column.start | limitTo:column.length" ng-href="mailto:{{teamMember.email}}" class="mailto-format" ng-bind="teamMember.name"></a>
        </div>
    </div>
    <h3 class="about-padding-top">Technologies</h3>
    <div layout="column" layout-gt-md="row" layout-align="space-around center" class="md-whiteframe-8dp gray-bg margin-bottom-md">
        <a href="https://www.mongodb.org/" target="_blank">
            <img class="img-block grayscale" src="assets/AboutMongoDB.png" height="70px"/>
            <md-tooltip>MongoDB is the leading NoSQL database, empowering businesses to be more agile and scalable.</md-tooltip>
        </a>
        <a href="http://expressjs.com/en/index.html" target="_blank">
            <img class="img-block grayscale extra-padding-top-lg" src="assets/AboutExpress.png" height="35px"/>
            <md-tooltip>Express is a minimal and flexible Node.js web application framework that provides a robust set of features for web and mobile applications.</md-tooltip>
        </a>
        <a href="https://angularjs.org/" target="_blank">
            <img class="img-block grayscale" src="assets/AboutAngularJS.png" height="60px"/>
            <md-tooltip>AngularJS is a toolset for building the framework most suited to your application development. It is fully extensible and works well with other libraries.</md-tooltip>
        </a>
        <a href="https://nodejs.org/en/" target="_blank">
            <img class="img-block grayscale" src="assets/AboutNodeJS.png" height="60px"/>
            <md-tooltip>Node.js is a platform built on Chrome's JavaScript runtime for easily building fast, scalable network applications.</md-tooltip>
        </a>
    </div>
    <div class="about-padding-top">
        This software has been developed under the <a href="https://raw.githubusercontent.com/YashdalfTheGray/flintandsteel/master/LICENSE" class="mailto-format">
        GNU GENERAL PUBLIC LICENSE</a>
    </div>
        Version 3: June 29, 2007
</div>
