<md-content layout="column" layout-align="space-between center">
    <div style="width:15%">
        <img src="assets/Lightbulb-no-globe.png" class="lightbulb">
    </div>
    <div class="title" layout="column" layout-align="center center">
        <h1>Learn</h1>
        <div>Learn how to interact with Innovate.RA</div>
    </div>
</md-content>
<md-item ng-repeat="LearnItem in LearnItems">
<learn-item  item="LearnItem" ng-click="showAdvanced($event,LearnItem)" class="learn-item"></learn-item>
</md-item>
