@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.icon-button-adjust {
    vertical-align: middle;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #666;
}

.add-idea {
    min-height: 40px;
    max-height: 40px;
}

.md-icon-button {
    margin-right: 10px;
}

.md-icon-button:last-child {
    margin-right: 0px;
}

.login-button {
    margin-right: 10px;
}

.signup-button {
    margin-left: 10px;
}

.scroll-container {
    overflow: scroll;
}

.extra-space-left {
    padding-left: 20px;
}

.no-padding-bottom {
    padding-bottom: 0px;
}

.some-padding-bottom {
    padding-bottom: 15px;
}

.fab-layout {
    margin-right: 20px;
    margin-bottom: 10px;
}

.top-ideas-list-item {
    margin-left: 20px;
}

.custom-chip-wrapper{
    margin:2px 2px 2px 0px;
    display:inline-block;
}

.custom-chip{
    margin-bottom: 3px;
    padding: 3px 10px;
    background-color: #e0e0e0;
    color: #424242;
    border-radius: 10px;
    white-space:nowrap;
}

.custom-chip.knowledge{
    background-color: #F44336;
    color: #FFFFFF;
}

.custom-chip.time{
    background-color: #3F51B5;
    color: #FFFFFF;
}

.custom-chip.funding{
    background-color: #009688;
    color: #FFFFFF;
}

.custom-chip.experience{
    background-color: #8BC34A;
    color: #FFFFFF;
}

.custom-chip.social-network{
    background-color: #FF9800;
    color: #FFFFFF;
}

.custom-chip.materials{
    background-color: #795548;
    color: #FFFFFF;
  }
.custom-chip.how-can-i-help{
    background-color: #E91E63;
    color: #FFFFFF;
}

.custom-chip.owner{
    background-color: #03A9F4;
    color: #FFFFFF;
}

.idea-pointer {
    cursor: pointer;
}

.nav-bar-pointer {
    cursor: pointer;
}

.extra-padding-left-sm {
    padding-left: 5px;
}

.extra-padding-left-md {
    padding-left: 10px;
}

.extra-padding-lg {
    padding: 30px;
}

.accent-text {
    color: #650100;
}

.author-accent {
    font-size: 13px;
}

.idea-likes-click {
    cursor: pointer;
    padding-left: 5px;
}

.deleted  h3, .deleted p{
    text-decoration: line-through;
    color: red;
}

.search-bar {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.center-text {
    text-align: center;
}

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.img-padding{
    padding-top: 15px;
}

.padding-left-20{
    padding-left: 20px;
}
.padding-sides-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.margin-top {
    margin-top: 30px;
}

*:focus {
    outline: 0;
}

.about-technologies{
    padding: 15px;
}

.about-padding-bottom{
    padding-bottom: 15px;
}

.about-padding-top{
    padding-top: 15px;
}

.mailto-format{
    text-decoration:none !important;
    text-decoration:none;
    color: #666;
}

.identicon {
    vertical-align: middle;
}

.homeview-Image {
 height:100%;
   width:100%;
   background-image:url(Collaboration.jpg);/*your background image*/  
   background-repeat:no-repeat;/*we want to have one single image not a repeated one*/  
   background-size:cover;/*this sets the image to fullscreen covering the whole screen*/  
   /*css hack for ie*/     
   filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.Collaboration.jpg',sizingMethod='scale');
   -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='image.jpg',sizingMethod='scale')";

}
.homeview-search{
    background:rgba(154,10,10,0.5);
    width:50%;
}
.homeview-padding{
    padding-top:50px;
    padding-bottom:50px;
}
.homeview-text-ic{
    color:white;
}
.homeview-login-button{
    padding-top:50px;
    padding-bottom:50px;
}
.homeview-padding-bottom{
    padding-bottom:20px;
}



img
{
    vertical-align: middle;
}
.img-responsive
{
    display: block;
    height: auto;
    max-width: 100%;
}
.img-rounded
{
    border-radius: 3px;
}
.img-thumbnail
{
    background-color: #fff;
    border: 1px solid #ededf0;
    border-radius: 3px;
    display: inline-block;
    height: auto;
    line-height: 1.428571429;
    max-width: 100%;
    moz-transition: all .2s ease-in-out;
    o-transition: all .2s ease-in-out;
    padding: 2px;
    transition: all .2s ease-in-out;
    webkit-transition: all .2s ease-in-out;
}
.img-circle
{
    border-radius: 50%;
}
.timeline-centered {
    position: relative;
    margin-bottom: 30px;
}

    .timeline-centered:before, .timeline-centered:after {
        content: " ";
        display: table;
    }

    .timeline-centered:after {
        clear: both;
    }

    .timeline-centered:before, .timeline-centered:after {
        content: " ";
        display: table;
    }

    .timeline-centered:after {
        clear: both;
    }

    .timeline-centered:before {
        content: '';
        position: absolute;
        display: block;
        width: 4px;
        background: #f5f5f6;
        left: 50%;
        top: 20px;
        bottom: 20px;
        margin-left: -4px;
    }

    .timeline-centered .timeline-entry {
        position: relative;
        width: 50%;
        float: right;
        margin-bottom: 70px;
        clear: both;
    }

        .timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
            content: " ";
            display: table;
        }

        .timeline-centered .timeline-entry:after {
            clear: both;
        }

        .timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
            content: " ";
            display: table;
        }

        .timeline-centered .timeline-entry:after {
            clear: both;
        }

        .timeline-centered .timeline-entry.begin {
            margin-bottom: 0;
        }

        .timeline-centered .timeline-entry.left-aligned {
            float: left;
        }

            .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner {
                margin-left: 0;
                margin-right: -18px;
            }

                .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-time {
                    left: auto;
                    right: -100px;
                    text-align: left;
                }

                .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-icon {
                    float: right;
                }

                .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label {
                    margin-left: 0;
                    margin-right: 70px;
                }

                    .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label:after {
                        left: auto;
                        right: 0;
                        margin-left: 0;
                        margin-right: -9px;
                        -moz-transform: rotate(180deg);
                        -o-transform: rotate(180deg);
                        -webkit-transform: rotate(180deg);
                        -ms-transform: rotate(180deg);
                        transform: rotate(180deg);
                    }

        .timeline-centered .timeline-entry .timeline-entry-inner {
            position: relative;
            margin-left: -22px;
        }

            .timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
                content: " ";
                display: table;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner:after {
                clear: both;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
                content: " ";
                display: table;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner:after {
                clear: both;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time {
                position: absolute;
                left: -100px;
                text-align: right;
                padding: 10px;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span {
                    display: block;
                }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:first-child {
                        font-size: 15px;
                        font-weight: bold;
                    }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:last-child {
                        font-size: 12px;
                    }

            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
                background: #fff;
                color: #737881;
                display: block;
                width: 40px;
                height: 40px;
                -webkit-background-clip: padding-box;
                -moz-background-clip: padding;
                background-clip: padding-box;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                border-radius: 20px;
                text-align: center;
                -moz-box-shadow: 0 0 0 5px #f5f5f6;
                -webkit-box-shadow: 0 0 0 5px #f5f5f6;
                box-shadow: 0 0 0 5px #f5f5f6;
                line-height: 40px;
                font-size: 15px;
                float: left;
            }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-primary {
                    background-color: #303641;
                    color: #fff;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-secondary {
                    background-color: #ee4749;
                    color: #fff;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-success {
                    background-color: #00a651;
                    color: #fff;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-info {
                    background-color: #21a9e1;
                    color: #fff;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-warning {
                    background-color: #fad839;
                    color: #fff;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-danger {
                    background-color: #cc2424;
                    color: #fff;
                }

            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
                position: relative;
                background: #f5f5f6;
                padding: 1.7em;
                margin-left: 70px;
                -webkit-background-clip: padding-box;
                -moz-background-clip: padding;
                background-clip: padding-box;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
            }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 9px 9px 9px 0;
                    border-color: transparent #f5f5f6 transparent transparent;
                    left: 0;
                    top: 10px;
                    margin-left: -9px;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2, .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p {
                    color: #737881;
                    font-family: "Noto Sans",sans-serif;
                    font-size: 12px;
                    margin: 0;
                    line-height: 1.428571429;
                }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p + p {
                        margin-top: 15px;
                    }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
                    font-size: 16px;
                    margin-bottom: 10px;
                }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 a {
                        color: #303641;
                    }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 span {
                        -webkit-opacity: .6;
                        -moz-opacity: .6;
                        opacity: .6;
                        -ms-filter: alpha(opacity=60);
                        filter: alpha(opacity=60);
                    }

.identicon-home {
    margin-right: 10px;
}

.md-tab.md-active {
    background-color: #e0e0e0;
    border-radius: 5px 5px 0px 0px;
}

.no-ideas-div {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
}

.back-box {
    width: 600px;
}

