@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
  font-family: 'Open Sans', sans-serif;
  color: #666;
}

.add-idea {
  min-height: 40px;
  max-height: 40px;
}

.md-icon-button {
	margin-right: 10px;
}

.md-icon-button:last-child {
	margin-right: 0px;
}

.login-button {
	margin-right: 10px;
}

.signup-button {
	margin-left: 10px;
}

.scroll-container {
	overflow: scroll;
}

.extra-space-left {
	padding-left: 20px;
}

.no-padding-bottom {
	padding-bottom: 0px;
}

.fab-layout {
	margin-right: 20px;
	margin-bottom: 10px;
}

.top-ideas-list-item {
	margin-left: 20px;
}

.custom-chip {
	margin-left: 5px;
	margin-right: 5px;
	padding: 3px 6px;
	background-color: #e0e0e0;
	color: #424242;
	border-radius: 10px;
}
.idea-pointer {
	cursor: pointer;
}

.extra-padding-left-sm {
	padding-left: 5px;
}

.extra-padding-left-md {
	padding-left: 10px;
}

.accent-text {
	color: #650100;
}

.idea-likes-click {
	cursor: pointer;
}

.deleted  h3, .deleted p{
  text-decoration: line-through;
  color: red;
}

.search-bar {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.center-text {
  text-align: center;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.img-padding{
    padding-top: 15px;
}
.padding-left-20{
    padding-left: 20px;
}

.identicon {
    vertical-align: middle;
}