<!doctype html>
<html lang="en-US">
<head>
	<title>Flint And Steel</title>

	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
	
	<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="./lib/angular-material/angular-material.css"/>
	<link rel="stylesheet" type="text/css" href="assets/app.css">

	<script src="lib/angular/angular.js"></script>
	<script src="lib/angular-animate/angular-animate.js"></script>
	<script src="lib/angular-ui-router/release/angular-ui-router.js"></script>
	<script src="lib/angular-mocks/angular-mocks.js"></script>
	<script src="lib/angular-material/angular-material.js"></script>
	<script src="lib/angular-aria/angular-aria.js"></script>
	<script src="lib/lodash/lodash.js"></script>
	<script src="lib/moment/moment.js"></script>

	<script src="app.js"></script>
	<script src="homeView/homeView.js"></script>
	<script src="navigation/toolbar.js"></script>
	<script src="navigation/sidenav.js"></script>
	<script src="users/loginView/loginView.js"></script>
	<script src="users/signupView/signupView.js"></script>
	<script src="users/accountView/accountView.js"></script>
	<script src="users/loginSvc/loginSvc.js"></script>
	<script src="ideas/ideaSvc/ideaSvc.js"></script>
	<script src="ideas/ideasView/ideasView.js"></script>
	<script src="ideas/addIdeaView/addIdeaView.js"></script>

</head>

<body ng-app="flintAndSteel" layout="column">

	<md-toolbar ng-controller="ToolbarCtrl">
		<div class="md-toolbar-tools">
			<md-button hide-gt-md class="md-icon-button" aria-label="Menu" ng-click="showNav()">
          		<md-icon md-svg-icon="navigation:menu"></md-icon>
        	</md-button>
			<h2 ng-if="!stateIsHome()"><span>Flint and Steel</span></h2>
			<span flex></span>
        	<md-button class="md-icon-button" ng-class="{ 'user-authenticated': $root.authenticated }" aria-label="Account" ng-click="accountClick()">
          		<md-icon md-svg-icon="action:account_circle"></md-icon>
        	</md-button>
        	<md-button class="md-icon-button" aria-label="More">
          		<md-icon md-svg-icon="navigation:more_vert"></md-icon>
        	</md-button>
		</div>
	</md-toolbar>

	<md-content flex layout="row">
		<md-sidenav md-is-locked-open="$mdMedia('gt-md')" class="md-whiteframe-z2" md-component-id="left" layout="column">
			<div ng-controller="SidenavCtrl" layout="column" flex>
				<div flex>
					<md-list class="top-ideas-list">
						<md-subheader class="md-accent md-hue-1">Top Ideas</md-subheader>
						<md-item>
							<div class="top-ideas-list-item">Braun's directive goes here</div>
						</md-item>
						<md-item ng-repeat="idea in topIdeas track by $index">
							<div class="top-ideas-list-item">
								<a ui-sref="idea({ ideaId: idea.id })">{{idea.title}}</a>
							</div>
						</md-item>
					</md-list>
					<md-divider></md-divider>
					<div layout="row"><md-button class="md-primary" ng-click="navTo('home')" flex>Home</md-button></div>
					<div layout="row"><md-button class="md-primary" ng-click="navTo('idea')" flex>Idea (Test only)</md-button></div>
				</div>
				<div flex layout="row" layout-align="end end">
					<md-button class="md-fab fab-layout" aria-label="Add another idea" ng-click="navTo('addidea')">
						<md-icon md-svg-icon="content:add"></md-icon>
					</md-button>
				</div>
			</div>
		</md-sidenav>

		<div ui-view flex class="scroll-container"></div>
	</md-content>
	
</body>
</html>