<!doctype html>
<html lang="en-US">
<head>
	<title>Flint And Steel</title>

	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
	
	<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="./lib/angular-material/angular-material.css"/>
	<link rel="stylesheet" type="text/css" href="assets/app.css">

	<script src="lib/angular/angular.js"></script>
	<script src="lib/angular-animate/angular-animate.js"></script>
	<script src="lib/angular-ui-router/release/angular-ui-router.js"></script>
	<script src="lib/angular-mocks/angular-mocks.js"></script>
	<script src="lib/angular-material/angular-material.js"></script>
	<script src="lib/angular-aria/angular-aria.js"></script>
	<script src="lib/lodash/lodash.js"></script>

	<script src="app.js"></script>
	<script src="home/home.js"></script>
	<script src="login/login.js"></script>
	<script src="toolbar/toolbar.js"></script>
	<script src="signup/signup.js"></script>
	<script src="account/account.js"></script>
	<script src="loginSvc/loginSvc.js"></script>

</head>

<body ng-app="flintAndSteel" layout="column">

	<md-toolbar ng-controller="toolbarCtrl">
		<div class="md-toolbar-tools">
			<md-button hide-gt-md class="md-icon-button" aria-label="Menu" ng-click="showNav()">
          		<md-icon md-svg-icon="navigation:menu"></md-icon>
        	</md-button>
			<h2 ng-if="!stateIsHome()"><span>Flint and Steel</span></h2>
			<span flex></span>
        	<md-button class="md-icon-button" ng-class="{ 'user-authenticated': $root.authenticated }" aria-label="Account" ng-click="accountClick()">
          		<md-icon md-svg-icon="action:account_circle"></md-icon>
        	</md-button>
        	<md-button class="md-icon-button" aria-label="More">
          		<md-icon md-svg-icon="navigation:more_vert"></md-icon>
        	</md-button>
		</div>
	</md-toolbar>

	<md-content flex layout="row">
		<md-sidenav md-is-locked-open="$mdMedia('gt-md')" class="md-whiteframe-z2" md-component-id="left">
			<md-subheader class="md-accent md-hue-1">Top Ideas</md-subheader>
			<!-- <md-list>
				<md-item ng-repeat="idea in topIdeas">
					IDEA LIST ITEM DIRECTIVE GOES HERE
				</md-item>
			</md-list> -->
			<md-divider></md-divider>
			<div layout="row">
				<md-button class="md-primary" ui-sref="home" flex>Home</md-button>
			</div>
		</md-sidenav>

		<div ui-view flex></div>
	</md-content>
	
</body>
</html>